.footer { 
  text-align: center; 
  padding: 40px 0; 
  color: #aaa; 
  font-size: 0.8rem; 
}

.adminLink { 
  cursor: pointer; 
  font-weight: bold; 
  margin-left: 4px; 
  
  /* Link Styling Reset */
  text-decoration: none;
  color: inherit; 
  transition: color 0.2s;
}

.adminLink:hover { 
  /* Uses your dynamic accent color variable */
  color: var(--accent-color); 
}